<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body class="bg-light">
    <header>
        <%- include("partials/navbar.ejs") %> 
    </header>
    <main class="container mt-3 bg-light">
        <h5 class="text-end badge bg-primary text-wrap">Total pokemons: <%= data.count %></h5>
        <section class="row">
            <% for (let i = 0; i < data.results.length; i++) { %>
                <div class="col-12 col-sm-6 col-lg-3 my-2 p-1">
                    <img class="card-img-top" width="" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= i+1 %>.png" alt="">
                    <div class="card-body p-2 card border-danger" id="c-body">
                        <h3 class="text-center"><%= data.results[i].name %> </h3>
                        <p class="text-center">#<%= i+1 %></p>
                        <a class="btn btn-outline-danger w-100" href="/users/pokemonDetail/<%= data.results[i].name %>">Detail</a>
                    </div>
                </div>
            <% } %>    
        </section>
    </main>
</body>
</html>